<div class="profile-card">
  <div class="avatar-name">
    <img
      src="/assets/images/real.jpg"
      alt="Avatar"
      class="profile-card__avatar"
    />

    <div class="profile-card__name">
      <strong>John Doe</strong>
      <span class="nickname">JD</span>
    </div>
  </div>

  <div class="profile-card_description">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, nisi
    maxime explicabo asperiores dolor expedita cum non nesciunt!
  </div>

  <div class="profile-card_tags">
    <div class="skill-tag">Ruby</div>
    <div class="skill-tag">React</div>
    <div class="skill-tag">Angular</div>
    <div class="skill-tag">Python</div>
  </div>

  <div class="profile-card_action_buttons">
    <button class="btn">Subscribe</button>
  </div>
</div>
