@if (profile) {
<div class="profile-card">
  <div class="avatar-name">
    <img [src]="profile.avatarUrl | imgUrl" [alt]="profile.username" class="profile-card__avatar" />

    <div class="profile-card__name">
      <strong>{{ profile.firstName }} {{ profile.lastName }}</strong>
      <span class="nickname">{{ profile.username }}</span>
    </div>
  </div>

  <div class="profile-card_description">
    {{ profile.description }}
  </div>

  <div class="profile-card_tags">
    @for (skill of profile.stack; track skill) {
    <div class="skill-tag">{{ skill }}</div>
    }
  </div>

  <div class="profile-card_action_buttons">
    <button class="btn">Subscribe</button>
  </div>
</div>
} @else { Not found }
