<form action="" class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2 class="h2">Login</h2>

  <label class="tt-control-label">
    Username
    <input
      class="tt-input"
      type="text"
      placeholder="Username"
      formControlName="username"
    />
  </label>

  <div class="password-input">
    <label class="tt-control-label">
      Password
      <input
        class="tt-input"
        type="text"
        placeholder="Password"
        formControlName="password"
        [type]="isPasswordVisible() ? 'text' : 'password'"
      />
    </label>

    <button
      class="password-eye-btn"
      type="button"
      (click)="isPasswordVisible.set(!isPasswordVisible())"
    >
      {{ isPasswordVisible() ? "Hide" : "Show" }}
    </button>
  </div>

  <button class="btn" type="submit">Login</button>
</form>
